@{
    ViewData["Title"] = "Chat Room Login";
}
<h1>Login</h1>
@using (Html.BeginForm("createUser", "Home"))
{
    @Html.TextBoxFor(m => m.Name)
    <input type="submit" value="Submit Data" id="btnSubmit" />
}
